<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="urlrewritingnet"
             requirePermission="false"
             type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
  </configSections>
  <urlrewritingnet rewriteOnlyVirtualUrls="true"
                   contextItemsPrefix="QueryString"
                   defaultPage="default.aspx"
                   defaultProvider="RegEx"
                   xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>

      <add name="ChitietsanphamRewrite"
           virtualUrl="^~/sanpham-([0-9]*)-([\w-]*)\.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/chitietsanpham.aspx?ID=$1&amp;sename=$2"
           ignoreCase="true" />
      <add name="ChitiettintucRewrite"
           virtualUrl="^~/tintuc-([0-9]*)-([\w-]*)\.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/chitiettintuc.aspx?ID=$1&amp;sename=$2"
           ignoreCase="true" />
      <add name="LoaiSanPhamRewrite"
           virtualUrl="^~/loaisanpham-([0-9]*)-([\w-]*)\.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/loaisanpham.aspx?ID=$1&amp;sename=$2"
           ignoreCase="true" />
      <add name="LoaiSanPhamRewrite2"
           virtualUrl="^~/sanpham.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/loaisanpham.aspx"
           ignoreCase="true" />
      <add name="TrangChu"
           virtualUrl="^~/default.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/default.aspx"
           ignoreCase="true" />
      <add name="GioiThieu"
           virtualUrl="^~/gioithieu.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/gioithieu.aspx"
           ignoreCase="true" />
      <add name="TinTuc"
           virtualUrl="^~/tintuc.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/tintuc.aspx"
           ignoreCase="true" />
      <add name="KhuyenMai"
           virtualUrl="^~/khuyenmai.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/khuyenmai.aspx"
           ignoreCase="true" />
      <add name="TuyenDung"
           virtualUrl="^~/tuyendung.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/tuyendung.aspx"
           ignoreCase="true" />
      <add name="BanDo"
           virtualUrl="^~/bando.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/bando.aspx"
           ignoreCase="true" />
      <add name="LienHe"
           virtualUrl="^~/lienhe.html"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/lienhe.aspx"
           ignoreCase="true" />
    </rewrites>
  </urlrewritingnet>
  <appSettings>
    <add key="Fee_RaoVat_Thuong"
         value="15000"/>
    <add key="TimeLine_RaoVat_Thuong"
         value="15"/>
    <add key="Fee_RaoVat_VIP"
         value="150000"/>
    <add key="TimeLine_RaoVat_VIP"
         value="15"/>
    <add key="Money_NewUser"
         value="1000000"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString"
         connectionString="Data Source=210.245.90.158;Initial Catalog=nhgia6dq_giaohuyhoang;User ID=nhgia6dq_giaohuyhoang;Password=db123456!"
         providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Data Source=IT-PC\SQLEXPRESS;Initial Catalog=04_giaohuyhoang;User ID=ducda;Password=123456"/>
  </connectionStrings>
  <system.web>
    <httpModules>
      <add name="UrlRewriteModule"
           type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="thUser"
             loginUrl="~/login.aspx"
             defaultUrl="~/quantri/default.aspx"
             timeout="60"
             slidingExpiration="true"
             cookieless="AutoDetect">
      </forms>
    </authentication>
    <membership defaultProvider="theMembershipProvider">
      <providers>
        <clear/>
        <add connectionStringName="ConnectionString"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="/"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="15"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""
             name="theMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <anonymousIdentification enabled="true"/>
    <profile defaultProvider="theProfileProvider">
      <providers>
        <clear/>
        <add name="theProfileProvider"
             connectionStringName="ConnectionString"
             applicationName="/"
             type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="FullName"
             type="String"/>
        <add name="Address"
             type="String"/>
        <add name="Mobile"
             type="String"/>
        <add name="Avartar"
             type="String"/>
        <add name="Gender"
             type="String"/>
        <add name="Birthday"
             type="String"/>
        <add name="City"
             type="String"/>
        <add name="Yahoo"
             type="String"/>
        <add name="Skype"
             type="String"/>
        <add name="UserName"
             type="String"/>
        <add name="Email"
             type="String"/>
        <add name="Money"
             type="Decimal"/>
      </properties>
    </profile>
    <roleManager enabled="true"
                 defaultProvider="theRoleProvider">
      <providers>
        <clear/>
        <add connectionStringName="ConnectionString"
             applicationName="/"
             name="theRoleProvider"
             type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="On"
                  defaultRedirect="Error.aspx">
      <error statusCode="403"
             redirect="NoAccess.htm"/>
      <error statusCode="404"
             redirect="FileNotFound.htm"/>
    </customErrors>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com"
                 port="587"
                 userName="giaohuyhoang"
                 password="123456"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
